[Unit]
Description=EdgeMonitor GPS NMEA Reader
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/edgemonitor.env
ExecStart=/root/monitor/bin/gps_mqtt /dev/ttymxc2

Restart=always
RestartSec=5

StandardOutput=journal
StandardError=journal
SyslogIdentifier=em-gps

[Install]
WantedBy=multi-user.target
